
variable "configuration" {
  type        = string
  description = "Configuration name (e.g. <%- configurations.join(', ') %>)"
  default     = "<%- configurations[0] %>"

  validation {
    condition     = contains([<% for (var i = 0; i < configurations.length; i++) { if (i > 0) { %>, <% } %>"<%= configurations[i] %>"<% } %>], var.configuration)
    error_message = "Configuration name must be one of: <%- configurations.join(', ') %>"
  }
}
